<div class="scroll">
  <h3>Announcement: </h3>

  Here's the {{model.title}} Announcement

  {{update-announcement announcement=model update="update"}} &nbsp;&nbsp;
  {{announcement-detail announcement=model destroyAnnouncement="destroyAnnouncement"}}
</div>
