<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  <div class= "container">
    <header id="header">
      <h1>Super Rentals</h1>
      <h3>We'll help you find exactly what you're looking for!</h3>
    </header>
    <div id="body-content">

    {{outlet}}


    </div>
    <footer class="center" id="footer">
      <div class="center home">
        <button class="btn">{{#link-to 'index'}}Home Page{{/link-to}}</button>
      </div>
      {{#link-to 'contact'}}Contact us{{/link-to}} // {{#link-to 'about'}}About Super-Rentals{{/link-to}}
    </footer>
  </div>
</body>
