<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  <div class= "container">
    <header id="header">
      <h1>Super Rentals</h1>
      <h3>We'll hrlp you find exactly what you're looking for!</h3>
    </header>
    <div id="body-content">

    {{outlet}}

    </div>
    <footer id="footer">
      {{#link-to 'contact'}}Contact us{{/link-to}} // {{#link-to 'index'}}Home Page{{/link-to}}
    </footer>
  </div>
</body>
