<div id="greeting">
  <h2>Welcome to Super Rentals!</h2>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="new-listing">
      <h3 class="center">Add a Listing:</h3>
      <div class="center">
        {{new-rental saveRental="saveRental"}}
      </div>
      <div class="listings">
        <ul>
          {{#each model.rental as |rental|}}
          <h3>{{rental-tile rental=rental}}</h3>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div id="new-announcement">
      <h3 class="center">Add an Announcement:</h3>
      <div class="center">
        {{new-announcement saveAnnouncement="saveAnnouncement"}}
      </div>
      <div class="listings">
        <ul>
          {{#each model.announcement as |announcement|}}
          <h4>{{announcement-tile announcement=announcement}}</h4>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
