<div class="scroll">
  <h3>Property: </h3>

  More information about {{model.owner}}'s {{model.type}}

  {{update-rental rental=model update="update"}}&nbsp;&nbsp;
  {{rental-detail rental=model destroyRental="destroyRental"}}
</div>
